
@media(max-width:1200px){
  .container{width:auto}
}

@media(max-width:767px){
  .bg-img{display: none;}
  .testStartBlock{width: 100% !important;}
  .userRegister,.howTestWorks,.testcategorywrapper{padding: 20px 20px 40px 20px;}
  .progressWrapper{margin: 30px 0}
}

@media(max-width:990px){
  .userRegisterRightBlock{
    text-align: left;
    margin-top: 20px;
  }
  .userRegisterRightBlock .btn-green{margin-top: 20px;}
  .bodybg2{display: none}
  .chartImage{width: auto;height: auto;}
}


@media screen and (min-width:768px) and (max-width:1200px){
  .bg-img{width: 66%;left: -80px;}
}

@media (max-width:480px){
.testcategory h1{font-size: 40px;line-height: 40px;margin-bottom: 20px}
.testcategory ul{font-size: 18px; line-height: 24px;}
.testcategory ul li{font-size: 18px; line-height: 24px;padding-left: 25px;}
}